/* ----------Desktop----------- */

body {
  background: linear-gradient(orange, black);
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; */
  background-attachment: fixed;
}

h1 {
  text-align: center;
  font-family: halo;
  font-size: 60px;
}

@font-face { /* Digitalização da Fonte */
  font-family: halo;
  src: url(/arquivos/Halo.ttf);
}

hr {
  width: 58%;
  background: black;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.grid {
  display: grid;
  width: 1200px;
  height: 800px;
  grid-template-columns:  repeat(3, 270px);
  gap: 5px;
  border: 3px solid red;
  margin: 60px auto;
  justify-content: center;
  align-content: start ;

}

#box4{
  background:blue;
  grid-column: 1/-1;
  justify-content: start;
}

.box { 
  background: black;
  padding: 10px;
  border-radius: 10px;

}

.box h2 { 
  text-align: justify;
  color: white;
  font-size: 30px;
  margin: 0;
}

.box span { 
  color: rgb(255, 191, 0);
}

.box p { 
  text-align: justify;
  color: rgb(155, 153, 153);
  margin: 0;
}

.box a {
  width: 150px;
  background: rgb(233, 187, 3);
  padding: 15px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin: 20px 10px;
  transition: 0.5s;
  text-align: center;
  /* border: 10px solid rgba(255, 0, 0, 0) */
}

.box a:hover{ 
  padding: 15px;
  background: green;
  border-radius: 5%;
  color: white;
}



.diva{
  width: 160px;
  margin: 3px;
  color: rgba(240, 248, 255, 0);
}




/* -------------Tablet------------ */

@media (min-width: 768px) and (max-width: 1200px){

  .grid {
    display: grid;
    width: 100%;
    grid-template-columns:  repeat(2, 1fr);
    gap: 5px;
    margin: 40px auto;
  }

  
  #box1{
    background: blue;
    grid-column: 1/-1;
  }

  #box7{
    background: blue;
    grid-column: 1/-1;
  }

  h1{
    margin: 2px auto;
    font-size: 50px;

  }


}

/* -------------mobile------------ */

@media (max-width: 768px){

  .grid {
    display: grid;
    width: 100%;
    grid-template-columns:  1fr;
    gap: 5px;
    margin: 40px auto;
  }

  
  #box4{
    background: blue;
    grid-column: auto
  }

  h1 {
    margin: 2px auto;
    font-size: 50px;

  }


}

